<form onsubmit={{action "onSubmit" uri tags}}>
  {{input type="url" value=uri placeholder="URL e.g. http://www.example.com/" required=true}}
  <br>
  {{input value=tags placeholder="Tags... e.g. foo bar baz"}}
  {{#if saving}}
    <button type="button" disabled>Saving...</button>
  {{else}}
    <button type="submit">Add</button>
  {{/if}}
</form>
